body{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4{
    line-height: 0;
    font-weight: normal;
    font-family: 'Bebas Neue', cursive;
}
h1{
    font-size: 80px;
}
h2{
    padding-top: 5px;
    font-size: 70px;
}
h3{
    font-size: 60px;
}
p{ 
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #3E3E3E;
}
section{
    height: 550px;
    padding-bottom: 20px;
}
.highlight-color-one{
    color: #363958;
}
.highlight-color-two{
    color: #FF8367;
}
.half-width{
    padding: 50px 0px;
    float: left;
    width: 35%;
    margin-left: 8%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.link-btn {
    text-decoration: none;
    padding: 20px 35px;
    color: white;
    background-image: linear-gradient(45deg, #FC7862,#F76861);
    font-family: roboto;
    font-size: 16px;
    border-radius: 8px;
    display: inline-block;
    margin-top: 25px;
}
.project-area{
    background-color: #F8F9FC;
    padding-top: 50px;
    padding-bottom: 70px;
    padding-left: 5%;
    padding-right: 5%;
}
.project-area h3{
    text-align: center;
}
.project{
    width:28%;
    float: left;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    margin: 20px 15px;  
    box-shadow: rgba(51, 51, 51, 0.2) 1px 1px 25px;
}
.project img{
    width: 100%;
}
.project h3{
    text-align: left;
    font-family: roboto;
    font-size: 24px;
    font-weight: bold;
    color:#363958;
    padding: 10px 0px;
    margin-left: 10px;
}
.project p{
    color: #6C6C6C;
    font-size: 16px;
    padding: 10px;
}
footer{
    padding: 90PX 0PX;
}
.inquiry-area{
    height: 270px;
    width: 70%;
    margin: 0 auto;
    background-size: contain;
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    padding-bottom: 30px;
}
.inquiry{
    padding-right: 20px;
    padding: 65PX 0PX;
    width: 50%;
    float: left;
}
.inquiry h2{
    font-size: 64px;
    margin-left: 75px;
    color: white;
}
.inquiry a{
    margin-left: 200px;
}
.connected-area{
    text-align: center;
}
.connected-area h3{
    font-family: roboto;
    padding: 10px 0px;
    font-weight: bold;
    color: #363958;
    font-size: 36px;
}
.connected-area h4{
    color: #696871;
    font-size: 24px;
}
.skill-area{
    width: 90%;
    height: 80%;
    padding-top: 20px;
    padding: 20px;
}
.skill-area h3{
    text-align: center;
}
.skill {
    margin: 20px 10px;
    margin-left: 100px;
}
.skill span{
    color:#363958;
    font-size: 20px;
    margin-right: 15px;
    font-family: 'Bebas Neue', cursive;
}
.bar-border{
    float: right;
}
.bar-border span{
    text-align: center;
    float: left;
    width: 50%;
    padding-top: 5px;
    font-family: roboto;
    color: white;
}
.skill .bar-border{
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    width: 800px;
    height: 30px;
    border: 2px solid #363958;
    font-size: 18px;
    font-weight: bold;
} 
.bar-html{
    border-radius: 5px 0px 0px 5px;
    background-color:  #FF8367;
    height: 100%;
    width: 95%;
}
.bar-css{
    border-radius: 5px 0px 0px 5px;
    background-color:  #FF8367;
    height: 100%;
    width: 75%;
}
.bar-bootstrap{
    border-radius: 5px 0px 0px 5px;
    background-color:  #FF8367;
    height: 100%;
    width: 50%;
}
.bar-js{
    border-radius: 5px 0px 0px 5px;
    background-color:  #FF8367;
    height: 100%;
    width: 60%;
}
.bar-react{
    border-radius: 5px 0px 0px 5px;
    background-color:  #FF8367;
    height: 100%;
    width: 30%;
}
.icons img{
    padding: 5px 8px;
    width: 40px;
}